<html>
  <head>
    <title>Stdlib.js Specs</title>

    <link rel="stylesheet" type="text/css" href="/jasmine.css">
    <script type="text/javascript" src="/jasmine.js"></script>

    <script type="text/javascript">
      context = describe;
      function assert(outcome, message) {
        expect(outcome).toBe(true)
      };
    </script>

    <script type="text/javascript" src="/jasmine-html.js"></script>
    <script type="text/javascript" src="/jasmine-json.js"></script>
    <script type="text/javascript" src="/jasmine-support.js"></script>

    <script type="text/javascript" src="/build.js?<%= query_string %>"></script>
    <script type="text/javascript" src="/specs.js?<%= query_string %>"></script>

    <script type="text/javascript">

      (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        jasmineEnv.htmlReporter = new jasmine.HtmlReporter();
        jasmineEnv.jsonReporter = new jasmine.JSONReporter();

        jasmineEnv.addReporter(jasmineEnv.htmlReporter);
        jasmineEnv.addReporter(jasmineEnv.jsonReporter);

        jasmineEnv.specFilter = function(spec) {
          return jasmineEnv.htmlReporter.specFilter(spec);
        };

        window.onload = function() {
          jasmineEnv.execute();
        };

      })();

    </script>

  </head>
  <body></body>
</html>

